*{
	box-sizing:border-box;
    margin:0;
    padding:0;
}
html,body{
    width:100%;
    height:100%;
}
body{
	display:flex;
    flex-direction:column;
	color:#353535;
	font-size:16px;
    overflow:hidden;
    align-items:stretch;
}

header{
	background-color:#263f6b;
	color:white;
    text-shadow:0 2px 1px #353535;
	font-size:1.5rem;
	width:100%;
    padding : 5px;
    height:40px;
}
main{
    display:flex ;
    flex-direction: row;
	align-items:stretch;
	width:70%;
    height:100%;
}

.list{
    display:inline-block;
	width:30%;
    background-color:#dbd9d4;
    overflow: auto;
    border-right:1px solid #353535;
}
ul ul{
    border-left : 1px solid   #353535; 
}
li{
    position:relative;
    list-style-type:none;
    padding:5px 0px 5px 5px;
}
li.selected{
    background-color:#fcba37;
}

li input + ul > li {
    display: none;
}
li input:checked + ul > li{
    display:block;
}
li input{
    visibility:hidden;
    cursor:pointer;
}
li input::before{
    content:"▼";
    display:inline-block;
    height:10px;
    width:10px;
    font-size:10px;
    line-height:10px;
    background-color:white;
    border:1px solid #353535;
    border-radius:3px;
    overflow:hidden;
    text-align:center;
    visibility:visible;
}
li input:checked::before{
    content:"▲";    
}
ul li::after{
    content:"";
    display:block;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:1px;
    background-color: rgba(0,0,0,0.5);
}
.content{
    display:inline-block;
	width:70%;
    background-color:white;
    padding:5px;
}
footer{
    background-color:#256835;
    color:white;
    padding:5px;
    height:40px;
}
