<div class="app-sound">
    <div class="app-sound-icon"><i class="fa fa-volume-down"></i></div>
    <div class="app-sound-bar"><div class="app-sound-bar-value" style="width:100%;"></div></div>
</div>
<div class="app-view-switch">
	<div class="app-button app-screen-button"><i class="fa fa-desktop"></i></div>
	<div class="app-button app-phone-button"><i class="fa fa-mobile-phone"></i></div>
</div>
<div class="app-toolbar">
	<div class="app-battery-icon"><i class="fa fa-database"></i></div>
	<div class="app-battery-level">
		<input type="range" value="100" max="100" min="0" step="5" orient="vertical" class="vertical"/>
	</div>
	<div class="app-button app-connexion-on-button"><i class="fa fa-signal"></i></div>
	<div class="app-button app-connexion-off-button"><i class="fa fa-signal"></i></div>
	<div class="app-button app-start-call-button"><i class="fa fa-phone"></i></div>
	<div class="app-button app-end-call-button"><i class="fa fa-phone"></i></div>
	<div class="app-button app-search-button"><i class="fa fa-search"></i></div>
	<div class="app-button app-rotate-button"><i class="fa fa-rotate-left"></i></div>
	<div class="app-button app-help-button"><i class="fa fa-question"></i></div>
</div>
<div class="app-device">
	<div class="app-device-speaker"></div>
	<div class="app-device-camera"></div>
	<div class="app-device-on-off-button">
	   <!-- <div class="app-device-on-button"><i class="fa fa-power-off"></i></div>-->
	</div>
	<div class="app-device-sound-buttons">
		<div class="app-device-sound-up-button"><i class="fa fa-plus"></i></div>
		<div class="app-device-sound-down-button"><i class="fa fa-minus"></i></div>
	</div>
	<div class="app-device-screen-container">
		<div class="app-device-screen"></div>
	</div>
	<div class="app-device-toolbar">
		<div class="app-device-back-button"><i class="fa fa-reply"></i></div>
		<div class="app-device-home-button"><i class="fa fa-home"></i></div>
		<div class="app-device-menu-button"><i class="fa fa-bars"></i></div>
	</div>
</div>
<div class="app-events"></div>