@import "icons.css";
@import "font-awesome-4.1.0/css/font-awesome.min.css";
@import "debug.scss";

@font-face {
	font-family: 'captain-icon';
	src:url('./fonts/captain-icon.eot?ndeh1k');
	src:url('./fonts/captain-icon.eot?#iefixndeh1k') format('embedded-opentype'),
		url('./fonts/captain-icon.woff?ndeh1k') format('woff'),
		url('./fonts/captain-icon.ttf?ndeh1k') format('truetype'),
		url('./fonts/captain-icon.svg?ndeh1k#captain-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

$listHeight : 60px;
$shadow:rgba(0,0,0,0.2);
$reflect:rgba(255,255,255,0.2);

$theme_color: #31a01b;
$dark_text_color: #333;
$light_text_color:#FFFFFF;
$background_color:#fafafa;
$selected_bg: #FFA040;
$loader_color:#FFF;
$parameters_bg:#6b6b6b;

$orange:#FFC500;
$green:#00A287;
$violet:#BC008D;
$grey:#7f6b6b;

$info_color:#66cbff;
$warn_color:#ffd400;
$error_color:#ff3030;

$theme_color_dark : darken($theme_color,15%);


@mixin gradient($color1,$color2) {
	background: $color1;
	background: -moz-linear-gradient(top,  $color1 0%, $color2 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,$color1), color-stop(100%,$color2));
	background: -webkit-linear-gradient(top,  $color1 0%,$color2 100%);
	background: -o-linear-gradient(top,  $color1 0%,$color2 100%);
	background: -ms-linear-gradient(top,  $color1 0%,$color2 100%);
	background: linear-gradient(to bottom,  $color1 0%,$color2 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$color1', endColorstr='$color2',GradientType=0 );
}

.initial_loader{
	@include gradient($theme_color,$theme_color_dark);

	width:100%;
	height:100%;
	display:block;
	position:absolute;
	text-align:center;
	top:0;
	left:0;
	
	.text{
		color:$theme_color_dark;
		font-weight:bold;
		font-size:3em;
		text-shadow: -1px -1px 0px $loader_color, 1px 1px 0px $loader_color, 1px -1px 0px $loader_color, -1px 1px 0px $loader_color;
	}
	
	.box{
		width:200px;
		height:200px;
		position:relative;
		margin:10% auto;
		vertical-align:center;
		animation:loaderAnimationFrames linear 3s infinite;
		transform-origin:50% 50%;
		-webkit-animation:loaderAnimationFrames linear 3s infinite;
		-webkit-transform-origin:50% 50%;
		-moz-animation:loaderAnimationFrames linear 3s infinite;
		-moz-transform-origin:50% 50%;
		-o-animation:loaderAnimationFrames linear 3s infinite;
		-o-transform-origin:50% 50%;
		-ms-animation:loaderAnimationFrames linear 3s infinite;
		-ms-transform-origin:50% 50%;
		
		.circle{
			width:40px;
			height:40px;
			background:$loader_color;
			display:block;
			border-radius:50%;
			position:absolute;
			animation:loaderCirclesAnimationFrames linear 3s infinite;
			transform-origin:50% 50%;
			-webkit-animation:loaderCirclesAnimationFrames linear 3s infinite;
			-webkit-transform-origin:50% 50%;
			-moz-animation:loaderCirclesAnimationFrames linear 3s infinite;
			-moz-transform-origin:50% 50%;
			-o-animation:loaderCirclesAnimationFrames linear 3s infinite;
			-o-transform-origin:50% 50%;
			-ms-animation:loaderCirclesAnimationFrames linear 3s infinite;
			-ms-transform-origin:50% 50%;
			
			&:nth-child(1){
				top:-15px;
				left:80px;
				animation-delay:1s;
				-webkit-animation-delay:1s;
				-moz-animation-delay:1s;
				-o-animation-delay:1s;
				-ms-animation-delay:1s
			}
			&:nth-child(2){
				top:130px;
				left:0;
				animation-delay:2s;
				-webkit-animation-delay:2s;
				-moz-animation-delay:2s;
				-o-animation-delay:2s;
				-ms-animation-delay:2s;
			}
			&:nth-child(3){
				top:130px;
				left:160px;
				animation-delay:3s;
				-webkit-animation-delay:3s;
				-moz-animation-delay:3s;
				-o-animation-delay:3s;
				-ms-animation-delay:3s;
			}
		}
	}
}
@keyframes loaderAnimationFrames{
	0%{transform:rotate(0deg);}
	100%{transform:rotate(360deg);}
}
@-moz-keyframes loaderAnimationFrames{
	0%{-moz-transform:rotate(0deg);}
	100%{-moz-transform:rotate(360deg);}
}
@-webkit-keyframes loaderAnimationFrames{
	0%{-webkit-transform:rotate(0deg);}
	100%{-webkit-transform:rotate(360deg);}
}
@-o-keyframes loaderAnimationFrames{
	0%{-o-transform:rotate(0deg);}
	100%{-o-transform:rotate(360deg);}
}
@-ms-keyframes loaderAnimationFrames{
	0%{-ms-transform:rotate(0deg);}
	100%{-ms-transform:rotate(360deg);}
}
@keyframes loaderCirclesAnimationFrames{
	0%{transform:scaleX(1) scaleY(1)}
	49%{transform:scaleX(0.5) scaleY(0.5)}
	100%{transform:scaleX(1) scaleY(1)}
}
@-moz-keyframes loaderCirclesAnimationFrames{
	0%{-moz-transform:scaleX(1) scaleY(1)}
	49%{-moz-transform:scaleX(0.5) scaleY(0.5)}
	100%{-moz-transform:scaleX(1) scaleY(1)}
}
@-webkit-keyframes loaderCirclesAnimationFrames{
	0%{-webkit-transform:scaleX(1) scaleY(1)}
	49%{-webkit-transform:scaleX(0.5) scaleY(0.5)}
	100%{-webkit-transform:scaleX(1) scaleY(1)}
}
@-o-keyframes loaderCirclesAnimationFrames{
	0%{-o-transform:scaleX(1) scaleY(1)}
	49%{-o-transform:scaleX(0.5) scaleY(0.5)}
	100%{-o-transform:scaleX(1) scaleY(1)}
}
@-ms-keyframes loaderCirclesAnimationFrames{
	0%{-ms-transform:scaleX(1) scaleY(1)}
	49%{-ms-transform:scaleX(0.5) scaleY(0.5)}
	100%{-ms-transform:scaleX(1) scaleY(1)}
}


/* INIT */
*{
	margin:0;
	padding:0;
	list-style:none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

html, body {
	height: 100%;
	width: 100%;
}

body {
	height: 100%;
    width: 100%;
	display: flex;
    flex-direction: column;
	
    background: $background_color;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:20px;
    color: $dark_text_color;
}

.row{
	display: flex;
    flex-direction: row;
	justify-content: space-between;
	align-items:center;
}

li{
	display: flex;
    flex-direction: row;
	align-items:stretch;
}

button,.button{
	display: inline-block;
	border:none;
	background:transparent;
	font-family: 'captain-icon';
	font-size:30px;
	font-style: normal;
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	position:relative;
	height:100%;
	padding:5px;

	&:active{
		background:$selected_bg;
	}
	
	&::before{
		width:100%;
		height:100%;
		text-align:center;
		margin:auto;
		vertical-align: middle;
	}
	
	&.edit::before{
		content: "\e635";
	}
	&.add::before{
		content: "\e63a";
	}
	&.remove::before{
		content: "\e61d";
	}
}

h1{
	margin:0 10px;
}

ul{
	li{
		height:$listHeight;
		overflow:hidden;
		position:relative;
		
		&::before, &::after{
			content:"";
			display:block;
			position:absolute;
			height:1px;
			left:0;
			width:100%;
		}
		&::before{
			top:0;
			background:$reflect;
		}
		&::after{
			bottom: 0;
			background:$shadow;
		}
	}
}

/* HEADERS*/
header,.header{
	background:$theme_color;
	height:50px;
	color: $light_text_color;
	
	.pageName, h1{
		font-size:1.2em;
		font-weight:bold;
		padding:5px;
	}
	.actions{
		.button{
			width: 40px;
			height: 40px;
		}
	}
}

/* FOOTER */
footer,.footer{
	background:$theme_color;
	border: 1px solid $dark_text_color;
	height:100px;
	padding:10px 25px 10px 100px;
	position: relative;
	overflow-y: auto;
	
	.close{
		position: absolute;
		top:5px;
		right:5px;
		display:block;
		width:20px;
		height:20px;
		font-size:15px;
		line-height:10px;
		border:1px solid $dark_text_color;
		border-radius:50%;
		
		&::before{
			content: "\e638";
		}
	}
	
	&.info{
		background : $info_color;
		
		&::before{
			position: absolute;
			top: 35px;
			left: 25px;
			display: block;
			width: 20px;
			height: 20px;
			font-size: 54px;
			font-family: 'captain-icon';
			content: "\e6c9";
		}
	}
	&.warning{
		background : $warn_color;
		
		&::before{
			position: absolute;
			top: 35px;
			left: 25px;
			display: block;
			width: 20px;
			height: 20px;
			font-size: 54px;
			font-family: 'captain-icon';
			content: "\e63f";
		}
	}
	&.error{
		background : $error_color;
		
		&::before{
			position: absolute;
			top: 35px;
			left: 25px;
			display: block;
			width: 20px;
			height: 20px;
			font-size: 54px;
			font-family: 'captain-icon';
			content: "\e683";
		}
	}
	
	.buttons{
		width:100%;
		text-align:right;
		margin-top: 20px;
		button,.button{
			border: 1px solid $dark_text_color;
			height:25px;
			font-size:20px;
						padding:5px;
			margin:0 5px;
		}
	}
}

/* content*/
main,#content{
	flex: auto;
	-webkit-flex: 1 1 auto;
    overflow-y: auto;
    height: 0px;
	
	@include gradient(lighten($background_color,15%),darken($background_color,15%));

	.lists{
		box-shadow: 0 5px 5px $shadow;
		li{
			&.selected{
				background: $selected_bg;
			}
			.state{
				display:inline-block;
				height:$listHeight;
				width:$listHeight;
				font-family: 'captain-icon';
				font-size:40px;
				font-style: normal;
				font-weight: normal;
				-webkit-font-smoothing: antialiased;
				position:relative;
	
				&.CREATING{
					background: $green;
				}
				&.CREATING::before{
					position:absolute;
					top: 8px;
					left: 14px;
					content: "\e703";
				}
				&.BUYING{
					background: $orange;
				}
				&.BUYING::before{
					position:absolute;
					top: 9px;
					left: 4px;
					content: "\e61f";
				}
				&.DONE{
					background: $grey;
				}
				&.DONE::before{
					position:absolute;
					top: 7px;
					left: 5px;
					content: "\e63e";
				}
			}
			.name{
				line-height:$listHeight;
				margin:0 15px;
			}
			.next{
				position:absolute;
				right:0px;
				top: 5px;
				display:none;
			}
			&.selected .next{
				display:block;
			}
		}
	}
}

#parameters{
	position:absolute;
	box-sizing:border-box;
	margin:0;
	top:0px;
	left:-70%;
	display: flex;
    flex-direction: column;
	width:70%;
	height:100%;
	@include gradient(lighten($background_color,15%),darken($background_color,15%));
	padding:0px 10px 0px 0px;
	overflow-y:auto;
	overflow-x:hidden;
	
	.grab{
		position:absolute;
		top:0;
		right:0;
		display:block;
		background:$dark_text_color;
		height:100%;
		width:10px;
		
		&::before,&::after{
			content:"";
			position:absolute;
			top:48%;
			height:4%;
			width:1px;
			background:$light_text_color;
		}
		&::before{
			left:3px;
		}
		&::after{
			right:3px;
		}
	}
	
	header,.header{
		background-color:$parameters_bg;
		.row{
			justify-content: flex-start;
		}
		.icon{
			display:inline-block;
			width:50px;
			height:50px;
			font-family: 'captain-icon';
			font-size:30px;
			margin:10px;
			&::before{
				content:"\e712";
			}
		}
	}
	
	li{
		padding:0 20px;
	}
}